* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 3rem;
  background-color: #6E85B7;
}

.title{
  text-align: center;
  font-size: 2rem;
  color: white;
}

p{
  font-size: 1.3rem;
}

.category_name{
  font-size: 1.8rem;
  
}

input{
  border-radius: 5px;
  background-color: #C4D7E0;
  color: gray;
  font-size: 1rem;
  padding: .5rem;
  width: 100%;
  border: 1px solid #F8F9D7;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}


.card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #B2C8DF;
  border-radius: 6px;
  max-height: 500px;
  overflow: hidden;
  background-color: white;
}

.card p{
  text-align: center;
  font-weight: 500;
}

.card img{
  height: 80%;
}

@media screen and (max-width:600px){
  .card-grid{
    grid-template-columns: repeat(1, 1fr);
  }
}